<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <p><%= userName %></p>
            <h3 class="card-title">Danh sach tat ca Class cua <%= course.name %></h3>
          </div>
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-12">
                <% if (userPerm.includes('create')) { %>
                <a href="/admin/course/manage-class/add/<%= course.id %>" class="btn btn-success mr-2"><i class="fas fa-plus-circle"></i> Add new class</a>
                <% } %>
              </div>
            </div>

            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Tên</th>
                    <th>So luong buoi hoc</th>
                    <th>Ngay bat dau</th>
                    <th>Ngay be giang</th>
                    <th>Thoi khoa bieu</th>
                    <th>Thoi gian hoc</th>
                    <th>Quan ly hoc vien</th>
                    <th>Quan ly giang vien</th>
                    <th>Điểm danh</th>
                    <% if (userPerm.includes('update')) { %>
                    <th>Cập nhật</th>
                    <% } %>
                    <% if (userPerm.includes('delete')) { %>
                    <th>Xóa</th>
                    <% } %>
                  </tr>
                </thead>
                <tbody>
                  <% rows.forEach(row => { %>
                  <tr>
                    <td><%= row.id %></td>
                    <td><%= row.name %></td>
                    <td><%= row.quantity %></td>
                    <td><%=  moment(row.startDate).format('DD/MM/YYYY') %></td>
                    <td><%=  moment(row.endDate ).format('DD/MM/YYYY') %></td>
                    <td><%= row.schedule %></td>
                    <td><%= row.timeLearn %></td>
                    <td>
                      <a href="/admin/class/manage-student/<%= row.id %>" class="btn btn-primary mr-2"><i class="fas fa-users"></i> </a>
                    </td>
                    <td>
                      <a href="/admin/class/manage-teacher/<%= row.id %>" class="btn btn-primary mr-2"><i class="fas fa-chalkboard-teacher"></i> </a>
                    </td>
                    <td>
                      <a href="/admin/class/attendance/<%= row.id %>" class="btn btn-secondary"><i class="fas fa-calendar-check"></i> </a>
                    </td>

                    <% if (userPerm.includes('update')) { %>
                    <td>
                      <a href="/admin/class/update/<%= row.id %>" class="btn btn-primary mr-2"><i class="fas fa-edit"></i> </a>
                    </td>
                    <% } %>


                    <% if (userPerm.includes('delete')) { %>
                    <td>
                      <form action="/admin/class/delete/<%= row.id %>" method="post" style="display: inline">
                        <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                      </form>
                    </td>
                    <% } %>

                  </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>