<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Tình trạng lớp học <%= classInfo.name %>:</h3>
          </div>
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-6">
                <% if (userPerm.includes('create')) { %>
                <a href="/admin/class/manage-student/<%= classInfo.id %>/add" class="btn btn-success">Add Student</a>
                <% } %>
              </div>
            </div>

            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Tên học viên</th>
                    <th>Tình trạng</th>
                    <th>Ngày hoàn thành</th>
                    <th>Ngày bảo lưu</th>
                    <th>Ngày nhập học trở lại</th>
                    <th>Cập nhật</th>
                    <th>Xóa</th> <!-- New column for delete button -->
                  </tr>
                </thead>
                <tbody>
                  <% studentDetail.forEach(row => { %>
                  <tr>
                    <td><%= row.User.name %></td>
                    <td><%= row.LearningStatus.name %></td>
                    <td>
                      <%= row.completedDate ? moment(row.completedDate).format('DD/MM/YYYY') : 'Chưa có' %>
                    </td>
                    <td><%= row.dropDate ? moment(row.dropDate).format('DD/MM/YYYY') : 'Chưa có' %></td>
                    <td><%= row.recover ? moment(row.recover).format('DD/MM/YYYY') : 'Chưa có' %></td>
                    <td>
                      <a href="/admin/class/manage-student/<%= classInfo.id %>/update?studentId=<%= row.studentId %>" class="btn btn-primary">
                        <i class="fas fa-edit"></i>
                      </a>
                    </td>
                    <td>
                      <form action="/admin/class/manage-student/<%= classInfo.id %>/delete?studentId=<%= row.studentId %>" method="POST">
                        <button type="submit" class="btn btn-danger">
                          <i class="fas fa-trash"></i>
                        </button>
                      </form>
                    </td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>