<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Danh sách tất cả User</h3>
          </div>
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-6">
                <% if (userPerm.includes('create')) { %>
                <a href="/admin/manage/add" class="btn btn-success mr-2"><i class="fas fa-user-plus"></i> Thêm người dùng mới</a>
                <% } %>
                <a href="/admin/manage/export-excel" class="btn btn-info mr-2"><i class="fas fa-file-excel"></i> Xuất Excel</a>
              </div>
              <div class="col-6 d-flex align-items-center">
                <form action="" class="mb-3 d-flex">
                  <div class="col-7">
                    <input type="search" name="keyword" class="form-control" placeholder="Từ khóa tìm kiếm..." value="<%= keyword %>" />
                  </div>
                  <div class="col-2 d-grid">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
                  </div>
                </form>
                <div class="col-3">
                  <form action="" class="mb-3 d-flex">
                    <label class="mr-2">Hiển thị:</label>
                    <select name="pageSize" class="form-control" onchange="this.form.submit()">
                      <option value="5" <%= pageSize === '5' ? 'selected' : '' %>>5</option>
                      <option value="10" <%= pageSize === '10' ? 'selected' : '' %>>10</option>
                      <option value="15" <%= pageSize === '15' ? 'selected' : '' %>>15</option>
                    </select>
                  </form>
                </div>
              </div>
            </div>

            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Type</th>
                    <th>Tình trạng xác thực</th>
                    <th>Phân quyền</th>
                    <% if (userPerm.includes('update')) { %>
                    <th>Update</th>
                    <% } %>
                    <% if (userPerm.includes('delete')) { %>
                    <th>Delete</th>
                    <% } %>
                  </tr>
                </thead>
                <tbody>
                  <% rows.forEach(row => { %>
                  <tr>
                    <td><%= row.id %></td>
                    <td><%= row.name %></td>
                    <td><%= row.email %></td>
                    <td><%= row.phone %></td>
                    <td><%= row.address %></td>
                    <td><%= row.Type.name %></td>
                    <td><%= row.firstLogin === 1 ? "Verified" : "Unverified" %></td>
                    <td><a href="/admin/manage/permission/<%= row.id %>" class="btn btn-primary"><i class="fas fa-lock"></i></a></td>
                    <% if (userPerm.includes('update')) { %>
                    <td>
                      <a href="/admin/manage/update/<%= row.id %>" class="btn btn-primary mr-2"><i class="fas fa-edit"></i></a>
                    </td>
                    <% } %>
                    <% if (userPerm.includes('delete')) { %>
                    <td>
                      <form action="/admin/manage/delete/<%= row.id %>" method="post" style="display: inline">
                        <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                      </form>
                    </td>
                    <% } %>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
            <% if (totalPage > 1) { %>
            <nav class="d-flex justify-content-end">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="?page=1">Đầu</a>
                </li>
                <% if (page > 1) { %>
                <li class="page-item">
                  <a class="page-link" href="?page=<%= +page - 1 %>">Trước</a>
                </li>
                <% } %> <% for (let i = 1; i <= totalPage; i++) { %>
                <li class="page-item <%= +page === +i ? 'active': '' %>">
                  <a class="page-link" href="?page=<%= +i %>"><%= i %></a>
                </li>
                <% } %> <% if (page < totalPage ) { %>
                <li class="page-item">
                  <a class="page-link" href="?page=<%= +page + 1 %>">Sau</a>
                </li>
                <% } %>
                <li class="page-item">
                  <a class="page-link" href="?page=<%= totalPage %>">Cuối</a>
                </li>
              </ul>
            </nav>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>