<body class="hold-transition register-page">
  <div class="register-box">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a href="/" class="h1"><b>Admin</b>LTE</a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Update account</p>
        <% if(flashMsg){ %>
          <div class="alert alert-danger" role="alert">
            <strong>Error!</strong> <%= flashMsg %>
          </div>
          <% } %> <% if(successMsg){ %>
          <div class="alert alert-success" role="alert">
            <strong>Success!</strong> <%= successMsg %>
          </div>
          <% } %>

        <form action="/auth/update" method="post">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Full name"
              name="name"
              value="<%= user.name %>"
              required
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input
              type="email"
              class="form-control"
              placeholder="Email"
              name="email"
              value="<%= user.email %>"
              disabled
              required
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>

          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Phone"
              value="<%= user.phone %>"
              name="phone"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Address"
              value="<%= user.address %>"
              name="address"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-location-dot"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4"></div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">
                Cap nhat thong tin
              </button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <div class="social-auth-links text-center">
          <a href="/auth/facebook" class="btn btn-block btn-primary">
            <i class="fab fa-facebook mr-2"></i>
            Lien ket Facebook
          </a>
          <a href="/auth/remove/facebook" class="btn btn-block btn-link text-danger">
            <i class="fas fa-times-circle mr-2"></i>
            Cancel Facebook Connection
          </a>
        
          <a href="/auth/google" class="btn btn-block btn-danger">
            <i class="fab fa-google mr-2"></i>
            Lien ket Google
          </a>
          <a href="/auth/remove/google" class="btn btn-block btn-link text-danger">
            <i class="fas fa-times-circle mr-2"></i>
            Cancel Google Connection
          </a>
        
          <a href="/auth/github" class="btn btn-block btn-dark">
            <i class="fab fa-github mr-2"></i>
            Lien ket GitHub
          </a>
          <a href="/auth/remove/github" class="btn btn-block btn-link text-danger">
            <i class="fas fa-times-circle mr-2"></i>
            Cancel GitHub Connection
          </a>
        </div>

        <p class="mb-1">
          <a href="/">Quay lai trang chu</a>
        </p>
      </div>

      <!-- /.form-box -->
    </div>

    <!-- /.card -->
  </div>
</body>
