<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Danh sách lớp học phụ trách:</h3>
          </div>
          <div class="card-body">
            <!-- Table -->
            <table class="table table-bordered table-hover">
              <thead>
                <tr>

                  <th>Tên</th>
                  <th>Số lượng buổi học</th>
                  <th>Ngày bắt đầu</th>
                  <th>Ngày bế giảng</th>
                  <th>Thời khóa biểu</th>
                  <th>Thời gian học</th>
                  <th>Quản lý học viên</th>
                  <th>Điểm danh</th>
                  <th>Quản lý bài tập</th>
                </tr>
              </thead>
              <tbody>
                <% classes.forEach(row => { %>
                <tr>

                  <td><%= row.name %></td>
                  <td><%= row.quantity %></td>
                  <td><%= moment(row.startDate).format('DD/MM/YYYY') %></td>
                  <td><%= moment(row.endDate).format('DD/MM/YYYY') %></td>
                  <td><%= row.schedule %></td>
                  <td><%= row.timeLearn %></td>
                  <td>
                    <a href="/teacher/class/manage-student/<%= row.id %>" class="btn btn-primary"><i class="fas fa-users"></i></a>
                  </td>
                  <td>
                    <a href="/teacher/class/attendance/<%= row.id %>" class="btn btn-secondary"><i class="fas fa-calendar-check"></i> </a>
                  </td>
                  <td>
                    <a href="/teacher/class/exercise/<%= row.id %>" class="btn btn-secondary"><i class="fas fa-tasks"></i> </a>
                  </td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
  </div>
</section>